<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ DEFAULT_LANG }}"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
	<meta name="description" content="">  
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/layout.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/media-queries.min.css">
   {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
   {% endif %}
   {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
   {% endif %}
   <!-- <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/modernizr.js"></script> -->
   <link rel="shortcut icon" href="{{ SITEURL}}/favicon.png" >
   {% if article %}
     {% if article.styles %}
       {% for style in article.styles %}
         {{ style }}
       {% endfor %}
     {% endif %}
   {% endif %}
</head>
<body>
   <header id="top">
   	<div class="row">
   		<div class="header-content twelve columns">
		      <h1 id="logo-text"><a href="{{ SITEURL }}/" title="">{{ SITENAME }}</a></h1>
		      {% if SITESUBTITLE %}
				<p id="intro">{{ SITESUBTITLE }}</p>
              {% endif %}
			</div>			
	   </div>
	   <nav id="nav-wrap"> 
	   	<a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
		<a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>
	   	<div class="row">    		            
			   	<ul id="nav" class="nav">
			   	    {% for title, link in MENUITEMS %}
			   	        <li{% if pg == page %} class="current"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
			   	    {% endfor %}
			   	    {% if DISPLAY_PAGES_ON_MENU -%}
                    {% for pg in pages %}
                        <li{% if pg == page %} class="current"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% if DISPLAY_CATEGORIES_ON_MENU -%}
                    <li class="has-children"><a href="#">Categories</a></li>
                      <ul>
                    {% for cat, null in categories %}
                        <li{% if cat == category %} class="current"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                      </ul>
                    </li>
                    {% endif %}
			   	</ul> 	 
	   	</div> 
	   </nav>     
   </header>
   <div id="content-wrap">
   {% block content %}
   {% endblock %}
   </div> 
   <footer>
      <div class="row"> 
        {% if GITHUB_URL or FEED_ALL_ATOM or FEED_ALL_RSS%}
        <div class="twelve columns">
            <ul class="social-links">
                {% if GITHUB_URL %}
                <li><a href="{{ GITHUB_URL }}"><i class="fa fa-github-square"></i> Github</a></li>
                {% endif %}
                {% if FEED_ALL_ATOM %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"><i class="fa fa-rss"></i> Atom</a></li>
                {% endif %}
                {% if FEED_ALL_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"><i class="fa fa-rss"></i> RSS</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="eight columns info">
            {% include 'about_footertext.html' %}
        </div>
        <div class="two columns">
            <h3 class="social">Navigate</h3>
            <ul class="navigate group">
        {% for pg in pages %}
            <li{% if pg == page %} class="current"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
        {% endfor %}
            </ul>
        </div> 
        <p class="copyright">&copy; Copyright by Dominik Meyer. Generated with <a href="http://getpelican.com/">Pelican</a>. Theme adapted from <i>Keep It Simple</i> by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.</p>
      </div>
      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>
   </footer>
   <!-- <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-1.12.2.min.js"></script> -->
   <!-- <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-migrate-1.3.0.min.js"></script>  -->
   <!-- <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script> -->
   {% if DICKBUTT %}
   <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/dickbutt.js"></script>
   {% endif %}
   {% include 'analytics.html' %}
</body>
{% if article %}
  {% if article.scripts %}
    {% for script in article.scripts %}
      {{ script }}
    {% endfor %}
  {% endif %}
{% endif %}
</html>
